body {
  margin: 0;
  height: 100%;
  background: #f4f7f9;
  direction: rtl;
  font-family: "Segoe UI";

}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  outline: none;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}
